@media screen and (max-width:1000px) {
    
    nav{
        flex-direction: column;
    }
    .Logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        height: 34px;
        justify-content: center;
    }
    .search{
        justify-content: center;
        
    }
    .search input{
        margin:12px 16px;
    }
    .slider{
        height: 23vh;
    }
    .card-item img{
        width: 140px;
    }
}