@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root{
  --main-bg-color:#2874f0;
}
* {
  margin: 0;
  padding: 0;
}
header{
  background: var(--main-bg-color);
  font-family: "Lato", sans-serif;
}
nav{
  display: flex;
}
.Logo{
  display: flex;
  align-items: center;
}
.Logo img{
  width: 88px;
  padding: 0 25px;
}
nav ul{
  height: 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul li{
  list-style: none;
  padding: 0 23px;
}
nav ul li a{
  color:white;
  text-decoration: none;
}
.container{
  min-height: calc(100vh - 58px - 12vh);
}
footer {
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Lato", sans-serif;
}
